<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Post</h1>
    
    <form action="/post/edit/<%= data.id %>" method="POST">
        <label>image url:</label><br>
        <input type="text" name="contentUrl" value="<%= data.contentUrl%>"><br>
        <label for="">Title</label><br>
        <input type="text" name="title" value="<%= data.title %>"><br>
        <label for="">Caption</label><br>
        <input type="text" name="caption" value="<%= data.caption %>"><br>
        
    </select>
    <input type="submit" value="submit">
    </form>
</body>
</html>