<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form action="/login" method="POST">
        <label for="">Email</label><br>
        <input type="text" name="email" id=""><br>
        <label for="">Password</label><br>
        <input type="password" name="password" id=""><br>
        <button type="submit" value="Register">Register</button>
    </form>
    <div class="section" style="text-align: center;">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Log In With Google
        </a>
    </div>
</body>
</html>