@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lato&display=swap");
:root {
  --text-color: #0b1551;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow: hidden;
  background-color: #459cd0;
}
header {
  overflow: hidden;
  position: relative;
}
.button {
  background-color: #ef4b4f;
  padding: 1rem 2em;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 2px 2px #fff;
}
.button:hover {
  background: var(--text-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  /* border-radius: 10px; */
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  width: 800px;
  max-width: 100%;
  min-height: 520px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.17);
  animation-name: modalOpen;
  animation-duration: 1s;
  /* padding: 10px 20px; */
}
.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}
.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-content h1 {
  font-weight: bold;
  margin: 0;
}
.modal-content p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.modal-content span {
  font-size: 12px;
}
.modal-content a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.modal-content .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.modal-content .form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-content .social-container {
  margin: 20px 0;
}

.modal-content .social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.modal-content .form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.modal-content button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ef4b4f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.modal-content button:active {
  transform: scale(0.95);
}
.modal-content button:focus {
  outline: none;
}
.modal-content button.ghost {
  background: transparent;
  border-color: #fff;
}
.modal-content .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 5;
}
.modal-content form input:focus {
  outline: none;
}
.modal-content .sign-up-container {
  left: 0;
  width: 50%;
  z-index: 4;
  opacity: 0;
}
.modal-content .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.modal-content .overlay {
  background: #ff416c;
  background: linear-gradißent(to right, #ef4b4f, #ef4b4f) no-repeat 0 0 / cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.modal-content .overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.modal-content .overlay-right {
  right: 0;
  transform: translateX(0);
}
.modal-content .overlay-left {
  transform: translateX(-20%);
}
.modal-content .form-container .password-box {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
  color: rgb(134, 134, 134);
}
.modal-content .form-container .password-box i {
  margin-left: -30px;
  cursor: pointer;
  font-size: 0.9rem;
}

/* animation */

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 6;
}
.container.right-panel-active .overlay {
  transform: translateX(50%);
}
.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.header-container {
  overflow: hidden;
}
.header-content img {
  width: 49rem;
  margin-left: 40rem;
  margin-top: -5rem;
}
.header-container .text {
  position: absolute;
  top: 300px;
  color: #0b1551;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
}
.margin {
  margin-left: 2rem;
}
.navbar h2 {
  padding-top: 1rem;
  font-family: "Cookie", cursive;
  color: #0b1551;
  font-size: 2.4rem;
}
.header-container h1 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
.header-container p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
